body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f5;
}

header {
    background: linear-gradient(90deg, #0f172a, #1e293b);
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: rgb(0, 60, 255);
    text-align: center;
    padding: 12px;
}

nav a {
    margin: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
}

.card-content {
    padding: 15px;
}

button {
    padding: 8px 15px;
    background-color: #0f172a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
    color: white;
}